<h3>Top Heroes</h3>
<div class="grid grid-pad">
    <a *ngFor="let hero of heroes"  [routerLink]="['/detail', hero.id]"  class="col-1-4">
        <div class="module hero">
            <h4>{{hero.name}}</h4>
        </div>
    </a>
</div>
<br>
<hero-search></hero-search>
<br>
<table class="table table-bordered">
    <tr><td>TableID</td><td>TableNo</td><td>TableName</td></tr>
    <tr *ngFor="let waiter of waiters"><td>{{waiter.tableid}}</td><td>{{waiter.tableno}}</td><td>{{waiter.tablename}}</td></tr>
</table>